# Ignore everything in the .minecraft directory except the mods and resourcepacks folders
/*
!/mods/
!/mods/**
!/resourcepacks/
!/resourcepacks/**

# Allow the .gitignore and .gitattributes files
!.gitignore
!.gitattributes

# Specifically ignored mods
/mods/CameraOverhaul*.jar

# Specifically ignored resourcepacks
/resourcepacks/Better-Leaves*.zip
/resourcepacks/VanillaTweaks*.zip
